.maintop-sec{
    .maintop-textall{
        picture{
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .maintop-text{
            width: 100%;
            height: 100%;
            position: relative;
            .bg-text1{
                display: flex;
                flex-direction: column;
                .bg-text2{
                    text-align: left;
                    .bg-text3{
                        margin: 0px auto;
                        width: 100%;
                        .bg-text4{
                            .bg-text5{
                                display: flex;
                                flex-direction: column;
                                row-gap: 24px;
                                .bgtext-top{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 12px;
                                    h1{
                                        color: rgba(65, 75, 86, 1);
                                        font-family:'Times New Roman', Times, serif;
                                    }
                                    p{
                                        font-weight: 400;
                                        color: rgba(103, 111, 120, 1);
                                    }
                                }
                                .bgtext-bottom{
                                    width: 100%;
                                    .bgtext-link{
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;
                                        .bgtext-browse{
                                            display: flex;
                                            flex-wrap: wrap;
                                            width: 100%;
                                            gap: 8px;
                                            :hover{
                                                transition: .5s;
                                                background-color: rgba(0, 73, 117, 1);
                                            }
                                            a{
                                                width: auto;
                                                padding: 6px 16px;
                                                height: 32px;
                                                background: rgba(0, 110, 165, 1);
                                                color: rgba(255, 255, 255, 1);
                                                border-radius: 50px;
                                                border: none;
                                                position: relative;
                                                display: inline-flex;
                                                justify-content: center;
                                                align-items: center;
                                                white-space: nowrap;
                                                font-size: 14px;
                                                font-weight: 600;
                                                letter-spacing: 0px;
                                                line-height: 20px;
                                                
                                            }
                                        }
                                        .bgtext-frames{
                                            a{
                                                margin-top: 24px;
                                                color: rgba(0, 110, 165, 1);
                                                background: transparent;
                                                display: inline-flex;
                                                align-items: center;
                                                border: none;
                                                border-radius: 4px;
                                                padding: 0;
                                                :hover{
                                                    color: rgba(0, 88, 141, 1);
                                                }
                                                div{
                                                    padding-left: 4px;
                                                    display: inline-flex;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}