@model ColorEdit_VM
@{
    ViewData["Title"] = "Edit";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-card mdl-shadow--2dp employer-form" action="#">
            <div class="mdl-card__title">
                <h2>Colors Edit Form</h2>
                <div class="mdl-card__subtitle">Please complete the form</div>
            </div>

            <div class="mdl-card__supporting-text">
                <form method="post" class="form" enctype="multipart/form-data">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-textfield__label" asp-for="ColorName">Name</label>
                                <input class="mdl-textfield__input" asp-for="ColorName">
                                <span class="text-danger" asp-validation-for="ColorName"></span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <input class="mdl-textfield__input" asp-for="ColorImage">
                            <img width="30" src="@Model.ColorImage" />
                            <span class="text-danger" asp-validation-for="ColorImage"></span>
                        </div>
                    </div>
                    <div class="form__action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isInfoReliable">
                        <input type="checkbox" id="isInfoReliable" class="mdl-checkbox__input" required />
                        <span class="mdl-checkbox__label">I confirm the information entered</span>
                        </label>
                        <button type="submit" id="submit_button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

