<!-- Main part start -->
<main class="d-flex flex-column">
    <!-- main top-section start -->
    <section>
        <div class="maintop-sec">
            <div class="maintop-textall">
                <picture>
                    <source srcset="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=640 640w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=750 750w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=828 828w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=3840 3840w"
                            media="(min-width: 1200px)" sizes="100vw">
                    <source srcset="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=640 640w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=750 750w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=828 828w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-D.jpg?quality=80&width=3840 3840w"
                            media="(min-width: 768px)" sizes="100vw">
                    <img src="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/HTO-HeroHTO-M.jpg"
                         alt="Five non-prescription frames from the Home Try-On box" sizes="100vw">
                </picture>
                <div class="maintop-text">
                    <div class="bg-text1">
                        <div class="bg-text2">
                            <div class="bg-text3">
                                <div class="bg-text4">
                                    <div class="bg-text5">
                                        <div class="bgtext-top">
                                            <h1>Try on 5 frames without leaving home</h1>
                                            <p>
                                                Pick your favorite styles to try out for 5 days. It’s easy and
                                                completely
                                                free—including return shipping!
                                            </p>
                                        </div>
                                        <div class="bgtext-bottom">
                                            <div class="bgtext-link">
                                                <div class="bgtext-browse">
                                                    <a href="#">Browse Women</a>
                                                    <a href="#">Browse Men</a>
                                                </div>
                                                <div class="bgtext-frames">
                                                    <a href="#">
                                                        <span>Take a quiz to find your frames</span>
                                                        <div>
                                                            <svg width="12" height="12" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                      d="M8.736 5.857a.754.754 0 0 1-.206.673l-4 4a.75.75 0 1 1-1.06-1.06L6.94 6 3.47 2.53a.75.75 0 0 1 1.06-1.06l4 4c.11.11.179.245.206.387Z"
                                                                      fill="currentcolor"></path>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main top-section end -->
    <!-- main collaboration-section start -->
    <section>
        <div class="collaborationsec">
            <div class="collaborationall">
                <div class="coll-text">
                    <div class="coll-text1">
                        <h1>Geoff McFetridge x Warby Parker</h1>
                    </div>
                    <div class="coll-shop">
                        <a href="#">
                            <span>Shop the collaboration</span>
                        </a>
                    </div>
                </div>
                <div class="coll-img">
                    <div>
                        <div>
                            <picture>
                                <source srcset="https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=640 640w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=750 750w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=828 828w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=3840 3840w"
                                        media="(min-width: 1200px)" sizes="calc(5/12 * 100vw)">
                                <source srcset="https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=640 640w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=750 750w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=828 828w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=3840 3840w"
                                        media="(min-width: 768px)" sizes="calc(5/12 * 100vw)">
                                <img src="https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg"
                                     srcset="https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=640 640w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=750 750w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=828 828w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/23.07.10.geoffMcFetridge/homePage/GeoffMcFetridge_Homepage_Banner_Mobile2x.jpg?quality=80&width=3840 3840w"
                                     alt sizes="100vw" class="c-hPHAGE c-hPHAGE-eCSSFU-fit-cover">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main collaboration-section end -->
    <!-- main collaboration2-section start -->
    <section>
        <div class="collaborationsec">
            <div class="collaborationall2">
                <div class="coll-img coll-img2">
                    <div>
                        <div>
                            <picture>
                                <source srcset="https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=3840 3840w"
                                        media="(min-width: 1200px)" sizes="calc(5/12 * 100vw)">
                                <source srcset="https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-D-03.jpg?quality=80&width=3840 3840w"
                                        media="(min-width: 768px)" sizes="calc(5/12 * 100vw)">
                                <img src="https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg"
                                     srcset="https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%20New%20Year%20Vision%20Benefits%2023/Contacts-HP-M-03.jpg?quality=80&width=3840 3840w"
                                     alt="Girl Posing with Head Resting on Hand" sizes
                                     class="c-hPHAGE c-hPHAGE-eCSSFU-fit-cover">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="coll-text2">
                    <div class="coll-text1">
                        <h1>Contacts</h1>
                    </div>
                    <div class="coll-paragraph">
                        <p>
                            Get 15% off your first order, and receive a $50 credit—good to use on
                            any eyeglasses or sunglasses—when you buy an annual supply of lenses.
                        </p>
                    </div>
                    <div class="coll-shop">
                        <a href="#">
                            <span>Find your brand</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main collaboration2-section end -->
    <!-- main prescription-section start -->
    <section>
        <div class="prescriptionsec">
            <div class="prescall">
                <div class="presc">
                    <div class="presccontent">
                        <div class="contentall">
                            <div class="contenttop">
                                <h1>Need a prescription ASAP?</h1>
                            </div>
                            <div class="contentbtm">
                                <p>
                                    Renew yours from home for just $15 or book an eye exam at a store. Walk-in
                                    appointments are also available at many locations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prescaddresshere">
                        <div class="linkhere">
                            <a href="#">
                                <span>Start here</span>
                                <div>
                                    <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.736 5.857a.754.754 0 0 1-.206.673l-4 4a.75.75 0 1 1-1.06-1.06L6.94 6 3.47 2.53a.75.75 0 0 1 1.06-1.06l4 4c.11.11.179.245.206.387Z"
                                              fill="currentcolor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main prescription-section end -->
    <!-- main shopglasses-section start -->
    <section>
        <div class="shopglassessec">
            <div class="topshop">
                <div>
                    <div>
                        <picture>
                            <source srcset="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=640 640w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=750 750w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=828 828w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=3840 3840w"
                                    media="(min-width: 1200px)" sizes="100vw">
                            <source srcset="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=640 640w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=750 750w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=828 828w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-desktop.jpg?quality=80&width=3840 3840w"
                                    media="(min-width: 768px)" sizes="100vw">
                            <img src="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg"
                                 srcset="https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=640 640w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=750 750w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=828 828w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=1080 1080w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=1200 1200w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=1920 1920w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=2048 2048w, https://img.warbyparker.com/04.04.23.SummerCore/04.04.23.SummerCore.HP/aaps-mobile.jpg?quality=80&width=3840 3840w"
                                 alt="Cool toned eyeglasses and sunglasses floating on a white background"
                                 sizes="100vw" class="c-hPHAGE c-hPHAGE-fRKYWh-fit-contain">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="btmshop">
                <div class="btmshop-all">
                    <div class="shopcontent">
                        <div class="shoptitle">
                            <h1>Add a pair and save</h1>
                        </div>
                        <div class="shoptext">
                            <p>
                                Get 15% off when you buy two (or more!) pairs of prescription eyeglasses or
                                sunglasses. There are colorful new options to consider.
                            </p>
                        </div>
                    </div>
                    <div class="shopaddress">
                        <div class="shoplink">
                            <div>
                                <a href="#">
                                    <span>Shop sunglasses</span>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <span>Shop eyeglasses</span>
                                </a>
                            </div>
                        </div>
                        <div class="shopmore">
                            <a href="#">
                                <span>Learn more</span>
                                <div>
                                    <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.736 5.857a.754.754 0 0 1-.206.673l-4 4a.75.75 0 1 1-1.06-1.06L6.94 6 3.47 2.53a.75.75 0 0 1 1.06-1.06l4 4c.11.11.179.245.206.387Z"
                                              fill="currentcolor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main shopglasses-section end -->
    <!-- main insurancedetail-section start -->
    <section>
        <div class="prescriptionsec">
            <div class="prescall">
                <div class="presc">
                    <div class="presccontent">
                        <div class="contentall">
                            <div class="contenttopspan">
                                <p>Did you know?</p>
                            </div>
                            <div class="contenttop">
                                <h1>We accept vision insurance!</h1>
                            </div>
                            <div class="contentbtm">
                                <p>
                                    Save an average of $100 by using your benefits, no matter which insurance
                                    provider you have. (This may vary by state or plan.)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prescaddresshere">
                        <div class="linkhere">
                            <a href="#">
                                <span>Get the details</span>
                                <div>
                                    <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.736 5.857a.754.754 0 0 1-.206.673l-4 4a.75.75 0 1 1-1.06-1.06L6.94 6 3.47 2.53a.75.75 0 0 1 1.06-1.06l4 4c.11.11.179.245.206.387Z"
                                              fill="currentcolor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main insurancedetail-section end -->
    <!-- main giveapair-section start -->
    <section>
        <div class="prescriptionsec" style="background-color: transparent">
            <div class="prescall">
                <div class="presc">
                    <div class="presccontent">
                        <div class="contentall">
                            <div class="contenttop">
                                <h1>Buy a Pair, Give a Pair</h1>
                            </div>
                            <div class="contentbtm">
                                <p>
                                    For every pair purchased, a pair of glasses is distributed to someone in need. So
                                    far, that’s 13 million pairs and counting.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prescaddresshere">
                        <div class="linkhere">
                            <a href="#">
                                <span>Learn more</span>
                                <div>
                                    <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.736 5.857a.754.754 0 0 1-.206.673l-4 4a.75.75 0 1 1-1.06-1.06L6.94 6 3.47 2.53a.75.75 0 0 1 1.06-1.06l4 4c.11.11.179.245.206.387Z"
                                              fill="currentcolor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main giveapair-section end -->
    <!-- main wallpaper-section start -->
    <section>
        <div class="wallpapersec">
            <div class="wallpaperall">
                <div>
                    <picture>
                        <source srcset="https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=3840 3840w"
                                media="(min-width: 1200px)" sizes="100vw">
                        <source srcset="https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/D-Control01%20image.png?quality=80&width=3840 3840w"
                                media="(min-width: 768px)" sizes="100vw">
                        <img src="https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png"
                             srcset="https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=640 640w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=750 750w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=828 828w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=1080 1080w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=1200 1200w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=1920 1920w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=2048 2048w, https://img.warbyparker.com/Homepage%3A%202022%2004%2011%20Test%201%20Control/M-Control01%20image%20assets%20copy%203.png?quality=80&width=3840 3840w"
                             alt="Girl Posing with Head Resting on Hand" sizes="100vw">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <!-- main wallpaper-section end -->
</main>
<!-- Main part start -->
